@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-image-desktop: url('/assets/background1.jpg');
  --background-image-mobile: url('/assets/backgroundmobile.jpg');
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Playfair Display', serif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    background-image: var(--background-image-desktop);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media (max-width: 640px) {
  body {
    background-image: var(--background-image-mobile);
  }
}

.playfair-display {
  font-family: 'Playfair Display', serif;
}

.playfair-display-bold {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}